.calc
{
 
   width: 50%;
   height: 50%;
}
#one
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
    
}

#tw
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
}

#thr
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
}

#pls
{
    width: 25px;
    height: 25px;
    color:white;
    background-color:red;
}


#fr
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
}

#fiv
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
}

#sx
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
}

#mns
{
    width: 25px;
    height: 25px;
    color:white;
    background-color:red;
}

#svn
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
}

#egt
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
}

#nin
{
    width: 25px;
    height: 25px;
    color:white;
    background-color:black;
}

#mul
{
    width: 25px;
    height: 25px;
    color:white;
    background-color:red;
}

#clr
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
}

#zro
{
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
}
#eql
{
    width: 25px;
    height: 25px;
    color:white;
    background-color:blue;
}

#dvd
{
    width: 25px;
    height: 25px;
    color:white;
    background-color:red;
}